body {padding: 0px; margin: 0px; background: #ffffff;}
h2   { color: #ffffff; font-family: sans-serif;}
a    { color: #ffffff; }
        
a:hover, a:active, a:focus { color: #000000; }
        
canvas
{
    padding:     0px;
    margin:      auto;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    right:       0px;
    z-index:     -1;
    margin-top:  -240px;
    margin-left: -320px;
}

.t_left
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -223px;
    margin-left: -223px;
}

.t_center
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -223px;
    margin-left: -71px;
}

.t_right
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -223px;
    margin-left: 81px;
}

.m_left
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -71px;
    margin-left: -223px;
}

.m_center
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -71px;
    margin-left: -71px;
}

.m_right
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -71px;
    margin-left: 81px;
}

.b_left
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  81px;
    margin-left: -223px;
}

.b_center
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  81px;
    margin-left: -71px;
}

.b_right
{
    width:       128px;
    height:      128px;
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  81px;
    margin-left: 81px;
}

.download a { color: #000000; text-decoration: none;}
.download a:hover, .download a:active, .download a:focus { color: #0000ff; }

.download
{
    font-family:sans-serif;
    font-size:   32px;
    padding:     0px;
    display:     block;
    position:    absolute;
    text-align:  left;
    top:         50%;
    left:        50%;
    margin-top:  -290px;
}

.title
{
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -285px;
    margin-left: -150px;
}

.footer a { color: #000000; }
.footer a:hover, .footer a:active, .footer a:focus { color: #0000ff; }

.footer
{
    font-family:    sans-serif;
    font-size:      12px;
    padding:        0px;
    display:        block;
    position:       absolute;
    text-align:     center;
    top:            50%;
    left:           50%;
    margin-top:     265px;
    margin-left:    -126px;
}