a { color: #000000; }

a.suspend       { color:#ffb03a; text-decoration: none}
a.suspend:hover { color:#ffffff; }



/* text styling */
.textheat
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
    top:            10%;
    left:           10%;
}

.textwindy
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
    top:            10%;
    left:           10%;
    margin-top:     120px;
}

.textsink
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
    text-align:     right;
    top:            10%;
    left:           30%;
    margin-top:     50px;
}

.textmount
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
    text-align:     left;
    top:            25%;
    left:           25%;
}

.textsleep
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
    text-align:     left;
    top:            0%;
    left:           0%;
    margin-top:     280px;
    margin-left:    100px;
    width:          480px;
}

.textsuspend
{
    
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
    text-align:     left;
    top:            0%;
    left:           0%;
    margin-top:     1120px;
    margin-left:    50px;
}

.textbikes
{
    -ms-transform:     rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform:         rotate(-90deg);
    
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
    text-align:     left;
    top:            0%;
    left:           50%;
    width:          400px;
    margin-left:    -200px;
}

.textbit
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
}

.textprovide
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
}

.textsad
{
    padding:        0px;
    padding-bottom: 70px;
    display:        block;
    position:       absolute;
}

.texthumor
{
    padding:        0px;
    padding-bottom: 70px;
    width:          400px;
    top:            100%;
    left:           100%;
    display:        block;
    position:       absolute;
    text-align:     right;
    margin-top:     -260px;
    margin-left:    -496px;
}



/* img styling */
.heat
{
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  180px;
    margin-left: 360px;
    z-index:     -1;
}

.windy
{
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  -80px;
    margin-left: 160px;
    z-index:     -1;
}

.sinking
{
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  120px;
    margin-left: -250px;
    z-index:     -1;
}

.mountain
{
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         25%;
    left:        25%;
    margin-top:  150px;
    margin-left: -150px;
    z-index:     -1;
}

.sleep
{
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         0%;
    left:        0%;
    margin-top:  40px;
    margin-left: 100px;
    z-index:     1;
}

.provide
{
    padding:     0px;
    display:     block;
    position:    absolute;
    margin-top:  130px;
    margin-left: 270px;
    z-index:     -1;
}

.sad
{
    padding:        0px;
    top:            100%;
    left:           100%;
    display:        block;
    position:       absolute;
    text-align:     right;
    margin-top:     -110px;
    margin-left:    -235px;
    mix-blend-mode: multiply;
    z-index:        -1;
}




/* for download page */
.cover
{
    padding:     0px;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -300px;
    margin-left: -288px;
}

.form a { color: #ffffff; }

.form
{
    width:          400px;
    padding-bottom: 60px;
    display:        block;
    position:       absolute;
    top:            50%;
    left:           50%;
    margin-top:     100px;
    margin-left:    -200px;
    
    text-align: center;
}

.dltext
{
    width:          400px;
    padding-bottom: 60px;
    display:        block;
    position:       absolute;
    top:            50%;
    left:           50%;
    margin-top:     -100px;
    margin-left:    -200px;
    
    text-align: center;
    color: #ffffff;
}