a { color: #000000; }

a.suspend       { color:#ffb03a; text-decoration: none}
a.suspend:hover { color:#ffffff; }

/* text styling */
.textheat
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
}

.textwindy
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  120px;
}

.textsink
{
    padding:     0;
    display:     block;
    position:    absolute;
    text-align:  right;
    top:         10%;
    left:        30%;
    margin-top:  50px;
}

.textmount
{
    padding:     0;
    display:     block;
    position:    absolute;
    text-align:  left;
    top:         25%;
    left:        25%;
}

.textsleep
{
    padding-bottom: 70;
    display:        block;
    position:       absolute;
    text-align:     left;
    top:            0%;
    left:           0%;
    margin-top:     280px;
    margin-left:    50px;
    width:          480px;
}

.textsuspend
{
    
    padding:        0;
    display:        block;
    position:       absolute;
    text-align:     left;
    top:            0%;
    left:           0%;
    margin-top:     1120px;
    margin-left:    50px;
}



/* img styling */
.heat
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  180px;
    margin-left: 360px;
    z-index:     -1;
}

.windy
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  -80px;
    margin-left: 160px;
    z-index:     -1;
}

.sinking
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  120px;
    margin-left: -250px;
    z-index:     -1;
}

.mountain
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         25%;
    left:        25%;
    margin-top:  150px;
    margin-left: -150px;
    z-index:     -1;
}

.sleep
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         0%;
    left:        0%;
    margin-top:  40px;
    margin-left: 50px;
    z-index:     1;
}


/* for download page */
.cover
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -300px;
    margin-left: -200px;
}

.form
{
    width:       400px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  100px;
    margin-left: -200px;
}